<!DOCTYPE html>
<html>
<head>
  <title>Ember Test2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- TODO - not sure if this is the right place to put this... -->
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js" %>

  <%= javascript_include_tag "application" %>

</body>
</html>
