<!DOCTYPE html>
<html>
<head>
  <title>Other Page</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js" %>

<%= javascript_include_tag "app2" %>

</body>
</html>
