<p>{{input type="text" value=title placeholder="Title"}}</p>
<p>{{input type="text" value=intro placeholder="Introduction"}}</p>
<p>{{textarea value=extended placeholder="Post (feel free to use Markdown!)"}}</p>
