<h1>{{title}}</h1>
<h2>by {{author}} <small class='muted'>({{format-date published_at}})</small></h2>

<hr>

<div class='intro'>
  {{format-markdown intro}}
</div>

<div class='below-the-fold'>
  {{format-markdown extended}}
</div>