{{#if isEditing}}
  {{partial 'post/edit'}}
  <button {{action 'doneEditing'}} class="btn">Done</button>
{{else}}
  <button {{action 'edit'}} class="btn">Edit</button>
  <button {{action 'delete'}} class="btn">Delete</button>
{{/if}}

{{partial 'post/view'}}
