<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class='table'>
        <thead>
          <tr>
            <th>
              Recent Posts
              {{#link-to "posts.new" class="btn"}}Add Post{{/link-to}}
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each model}}
            <tr>
              <td>
                {{#link-to 'post' this}}{{title}} <small class='muted'>by {{author}}</small>{{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>
